#navbar {
  margin-top: -8px;
  border: 1px solid #0c253c;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #0c253c;
}
#options {
  display: flex;
  width: 35%;
  height: 100%;
  gap: 5%;
  margin-top: 3px;
  /* text-align: center; */
}
#user_account {
  margin: 0;
}

#options > h4 > a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 15px;
  /* padding-top: 13px; */
}
#options > h4 {
  margin-top: 15px;
}
#options > h4 a:hover {
  color: #00a4bb;
}

#logooption {
  width: 35%;
  display: flex;
  /* border: 1px solid wheat; */
  /* text-align: center; */
}
#logo {
  margin-left: 20%;
}
#logo > img {
  margin-top: 11%;
  /* padding-left: 5%; */
}
/* #logo li{
  text-align: center;
} */
.traveloptions {
  margin: auto;
  color: white;
  list-style-type: none;
  cursor: pointer;
}
.traveloptions:hover {
  color: #007e8f;
}
.sub-menu-1 > ul > li > i {
  padding-right: 10px;
}

.sub-menu-1 {
  height: 450px;
  width: 350px;
  /* border: black 1px solid; */
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 15px;
  display: none;
  z-index: 1;
}
.sub-menu-1,
.sub-menu-2 li {
  color: black;
  /* line-height: 20px; */
}
#logooption li {
  list-style-type: none;
}

#logooption > li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background-color: #fff;
}

#logooption > li:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
  margin-left: -20px;
  /* color: #557eb0; */
}
#logooption > li:hover .sub-menu-1 ul li {
  width: 250px;
  padding: 14px;
  line-height: 20px;
  cursor: pointer;
}
.sub-menu-1 ul li:hover {
  color: #007e8f;
}
.sub-menu-2 {
  height: 350px;
  width: 350px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 15px;
  display: none;
  margin-left: -22%;
  z-index: 1;
}
.signin {
  font-size: 15px;
  margin-top: 10px;
}

.sub-menu-2 li {
  list-style-type: none;
}

.sub-menu-2 h6 {
  margin-top: 35px;
  margin-bottom: 25px;
  padding: 0 5% 0 5%;
  text-align: start;
  color: black;
}
.sub-menu-2 #signup {
  text-align: center;
  /* color: black; */
}

.sub-menu-2 > #signup,
ul a {
  color: #00a4bb;
  cursor: pointer;
}
.sub-menu-2 #signup a:hover {
  color: #143e44;
}
.sub-menu-2 #signin a:hover {
  color: white;
}

.feedback {
  color: gray;
}

.signin:hover .sub-menu-2 {
  display: block;
  position: absolute;
  background-color: #fff;
}

#signin {
  width: 90%;
  height: 40px;
  border: 1px solid #c83259;
  text-align: center;
  margin: auto;
  padding-top: 8px;
  border-radius: 5px;
  color: white;
  background-color: #c83259;
  cursor: pointer;
}
#signin a {
  color: white;
  text-decoration: none;
}
#signup a {
  color: #00a4bb;
  text-decoration: none;
  font-size: 15px;
}

.sub-menu-2 li {
  width: 150px;
  padding: 14px;
  line-height: 20px;
  font-weight: lighter;
  margin-left: -10%;
}
.sub-menu-2 a {
  text-decoration: none;
}
